@using AlloyTraining.Models.ViewModels
@using AlloyTraining.Models.Pages
@model DefaultPageViewModel<SitePageData>
<div class="block span8" style="background-color: lavenderblush;">
    <div class="border">
        <a href="@Url.ContentUrl(Model.CurrentPage.ContentLink)">
            <div @Html.EditAttributes(x => x.CurrentPage.PageImage)>
                <img src="@Url.ContentUrl(Model.CurrentPage.PageImage)" />
            </div>
            <h2 @Html.EditAttributes(x => x.CurrentPage.Name)>@Model.CurrentPage.Name</h2>
        </a>
    </div>
</div>